.content-footer {
  background-color: white;
  padding: 25px 190px;
  padding-bottom: 15px;
  border-top: 1px solid grey;
  margin-top: 150px;
}
.containter-footer {
  width: 50%;
}
.meta {
  display: flex;
}
.footer-word {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: black;
}
.left-footer {
  float: left;
}
.right-footer {
  float: right;
}
@media only screen and (max-width: 1599px) {
  .content-footer {
    padding: 25px 90px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 1299px) {
  .content-footer {
    padding: 25px 50px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .content-footer {
    padding: 25px 20px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 691px) {
  .containter-footer {
    width: 100%;
  }
  .meta {
    display: block;
  }
  .footer-word {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: black;
  }
  .left-footer {
    float: none;
    text-align: center;
    margin: auto;
  }
  .right-footer {
    float: none;
    text-align: center;
    margin: auto;
  }
}
@media only screen and (max-width: 320px) {
  .footer-word {
    font-size: 12px;
  }
}
